//variables
$appFontFamily: Metropolis-Regular;
$appBackgroundColor: #f3f3f3;
$primaryMain: #01468e;
$primaryLight: #f7a800;
$secondaryMain: #dfefff;
$White: #ffffff;
$darkGrey: #a4a4a4;
$blue: #00488e;
$secondaryGreen: #26922b;
$arrowYellow: #ffefce;
$oldSilverGrey: #838383;
$failedRed: #ef0202;
$pdfRed: #f40f02;
$negativeRed: #d21113;
$secondaryOrange: #ffebcc;
$orange: #f1a634;
$newstreetRed: #e8152a;
$shecomPink: #e1278a;
$successGreen: #d7ffd8;
$positiveGreen: #00b200;
$appFontSize: 1.125rem;
$headerHeight: clamp(60px, 8vh, 70px);
$sideBarWidth: clamp(66px, 5vw, 100px);
$gridGap: 15px;

.app-container {
  display: grid;
  grid-template-columns: $sideBarWidth 1fr;
  grid-template-rows: $headerHeight 1fr;
  height: 100vh;
  gap: $gridGap;
  background-color: $appBackgroundColor;
  

}

.header {
  background-color: $primaryMain;
  grid-area: 1/1/2/3;
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
}

.sidebar {
  padding-top: calc($headerHeight + 5px);
  background-color: $White;
  grid-area: 1/1/3/2;
  box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.07);
}

.main-content {
  grid-area: 2/2/3/3;
  margin: 0px $gridGap $gridGap 0px;
  overflow: hidden;
}
